.MyButton {
  background-color: transparent;
  border: 1px solid teal;
  color: teal;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: rgba(teal, 0.1);
  }
  &:active {
    background-color: rgba(teal, 0.3);
  }
}
