.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  margin-left: auto;
  margin-right: 12px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}
